.login-outer,.signup-outer{
    
    height: 100vh;
    width: 100vw;
    
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    text-align: center;
}
.login-outer{
    background-image: url("../assets/Signin-back.jpg");
}
.signup-outer{
    background-image: url("../assets/Signup-back.jpg");
}
.login-row,.signup-row{

    padding-top:100px;
    
}
